body {
  margin: 0;
  padding: 0;
  background: url('/flamingo.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  font-family: 'Open Sans', sans-serif;
}
.wiki {
    max-width: 800px;
    margin: 0 auto;
}
.nav {
    text-align: center;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
}
.nav li {
    display: inline-block;
}
.nav li a {
    padding: 20px;
    text-transform: uppercase;
    color: gray;
}
.nav li a:hover, .active {
    font-weight: 700;
}
.main {
    padding: 40px 50px;
    background-color: rgba(255, 255, 255, 0.85);
    min-height: 500px;
    max-width: 700px;
    margin: 50px auto;
}
.link {
    display: block;
}
.flamingo {
    display: block;
    margin: 0 auto;
}
.welcome {
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin: 20px 0 40px;
}
.form input {
    display: block;
    margin: 5px 0 10px;
    width: 300px;
}
.form-details {
    margin: 0 auto;
    width: 300px;
}
textarea {
    padding: 15px;
    line-height: 1.5em;
}
p {
    line-height: 1.5em;
}
